In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Get LATEST driver version for 90.0.4430
Trying to download new driver from https://chromedriver.storage.googleapis.com/90.0.4430.24/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\Zach\.wdm\drivers\chromedriver\win32\90.0.4430.24]

# Scrape Title & Paragraph

In [3]:
# URL that we need to scrape
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

In [4]:
# Create Beautiful Soup object
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Get title and body paragraph
mars_news_title = news_soup.find_all('div', class_='content_title')[1].text
body_par = news_soup.find_all('div', class_='article_teaser_body')[0].text

print(mars_news_title)
print(body_par)

NASA's Ingenuity Mars Helicopter Completes First One-Way Trip
The Red Planet rotorcraft headed south in support of furthering research into the potential use of aerial scouts on Mars in the future.

# Scrape Image

In [6]:
# image url
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [7]:
# Create Beautiful Soup object
html = browser.html
image_soup = BeautifulSoup(html, 'html.parser')

In [8]:
# Get image url
image_path = image_soup.find_all('img')[2]['src']
print(image_path)

https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24555.2e16d0ba.fill-400x400-c50.jpg

# Scrape Table

In [9]:
# table url
table_url = 'https://space-facts.com/mars/'
browser.visit(table_url)

In [10]:
# Create Beautiful Soup object
html = browser.html
table_soup = BeautifulSoup(html, 'html.parser')

In [11]:
# print all scraped tables
raw_tables = pd.read_html(table_url)
raw_tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [12]:
# Identify the right table
needed_table = raw_tables[2]
needed_table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [13]:
# name columns and set index
needed_table.columns = ["Description", "Value"]
needed_table.set_index('Description', inplace = True)
needed_table

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [14]:
html_table = needed_table.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [15]:
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Scrape Hemispheres

In [16]:
hemi_url = 'https://marshemispheres.com/'
browser.visit(hemi_url)

In [17]:
# Create Beautiful Soup object
html = browser.html
hemi_soup = BeautifulSoup(html, 'html.parser')

In [18]:
# Scrape titles
titles=hemi_soup.find_all('h3')
titles[:]=(title.text for title in titles)
titles[:]=(title.split(" Enhanced")[0] for title in titles)
titles.remove('Back')
print(titles)

['Cerberus Hemisphere', 'Schiaparelli Hemisphere', 'Syrtis Major Hemisphere', 'Valles Marineris Hemisphere']

In [19]:
# Scrape Images
hemisphere_image_urls=[]
for title in titles:
    browser.visit(hemi_url)
    browser.links.find_by_partial_text(title).click()
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    img_url=soup.find('div',class_='downloads').ul.li.a['href']
    print(hemi_url+img_url)
    hemisphere_image_urls.append({"title": title, "final_url": hemi_url + img_url})

print(hemisphere_image_urls)

https://marshemispheres.com/images/full.jpg
https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg
https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg
https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg
[{'title': 'Cerberus Hemisphere', 'final_url': 'https://marshemispheres.com/images/full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'final_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'final_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'final_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [20]:
# put everything into one dictionary
mars_dict = {'mars_news_title' : mars_news_title, 'body_par' : body_par, 'image_path' : image_path, 'html_table': html_table,
             'hemisphere_image_urls': hemisphere_image_urls}
mars_dict

{'mars_news_title': "NASA's Ingenuity Mars Helicopter Completes First One-Way Trip  ",
 'body_par': 'The Red Planet rotorcraft headed south in support of furthering research into the potential use of aerial scouts on Mars in the future.',
 'image_path': 'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24555.2e16d0ba.fill-400x400-c50.jpg',
 'html_table': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'hemisphere_image_urls': [{'title': 'Cerberus Hemisphere',
   'final_url': 'https://marshemispheres.com/images/full.jpg'},
  {'title': 'Schiaparelli Hemisphere',
   'final_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
  {'title': 'Syrtis Major Hemisphere',
   'final_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
  {'title': 'Valles Marineris Hemisphere',
   'final_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]}

In [21]:
# Quit session
browser.quit()